// Create the settings file "settings.cpp" based on this sample file

// Wifi settings
const char * WIFI_SSID = "greentravel";
const char * WIFI_PASS = "greentravel";

// Otadrive FOTA settings
const String OTADRIVE_APIKEY = "your-api-key-from-otadrive";
const String OTADRIVE_VERSION = "0.0.0";

// Server receiving and storing device log data
const char * LOG_SERVER = "https://server.com/happiness/server.php";
